body {margin:0;}

.navbar1 {
    overflow: hidden;
    background-color: chocolate;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar1 a {
    float: left;
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar1 a:hover {
    background: #ddd;
    color: black;
}

.navbar {
    overflow: hidden;
    background-color: chocolate;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding-top: 100px;
}

/* THIS IS THE STYLING FOR OUR REGISTRATION PAGE*/

#registermain{
    text-align: center;
    padding: 16px;
    margin-top: 100px;
    padding-left: auto;
    padding-right: auto;
    height: 1500px;
    color: bisque;
}

#regidiv1{
    background-color: #663300;
    border-radius: 30px;
}

#regidiv2{
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#regdiv3{
    width: 85px;
    height: auto;
    border-radius: 3px;
}